*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
section{
    width: 100%;
}
section div.container{
    width: 30%;
    height: auto;
    margin: auto;
    margin-top: 80px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px;

}
div.header{
    display: flex;
    justify-content: space-between;
}
 .green{
    padding: 10px 12px;
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    
}
.green2{
    display: block;
    padding: 10px 12px;
    background-color: green;
    color: white;
    border-radius: 5px;
}
 .btn2{
    padding: 10px 12px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    display: none;
}
.delete{
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 6px;  
}
.red{
    display: block;
    padding: 10px 12px;
    background-color: red;
    color: white;
    border-radius: 5px;
}
  form input:not([type=checkbox]){
    width: 100%;
    border-radius: 5px;
    border: none;
    border: 1px solid rgb(83, 81, 81);
    outline: none;
    height: 30px;
}
form input:is([type=checkbox]){

}
 div.form1{
    width: 100%;
    height: 70px;
    margin-top: 30px;
}
 div.form2{
    width: 100%;
    height: 70px;
}
div.form3{
    width: 100%;
    height: 35px;
}
.btn{
    width: 100%;
    padding: 8px 0;
    background-color: black;
    color: white;
    border: none;
}
ul li{
    width: 100%;
    padding: 6px 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 25px;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
}
ul li span{
    font-size: 13px;
}
